nav {
    display: flex;
    border: 2px solid black;
    /* justify-content: center; */
    background-color: darkgray;
    height: 100%;
}
nav ul {
    list-style: none;
    display: flex;
    border: 2px solid yellow;
    width: 100vh;
    /* justify-content: space-between; */
}
ul .box {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.box1 {
    flex: 1;
    display: flex;
    border: 2px solid red;
    /* justify-content: flex-start; */
}
.box2 {
    flex: 1;
    display: flex;
    border: 2px solid green;
    /* justify-content: flex-end; */
}