* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* mobile view */
.header {
  height: 50px;
  width: 100%;
  padding: 0 24px;
  background-color: #3c3a39;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}

.staus-bar {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.mainbody {
  height: 100vh;
  width: 100%;
  background-color: #1c1a19;
  padding: 160px 24px 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-image: url("./images/Illustration-mobile.png");
  background-repeat: no-repeat;
  background-size: 12rem;
  background-position: 100%;
  background-position-y: 14rem;
}

.title {
  display: flex;
  width: inherit;
  gap: 1rem;
  flex-direction: column;
}

.title h1 {
  font-family: 'Crete Round', serif;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  width: 20rem;
  color: #ff6b00;
}

.profession h2 {
  font-family: 'Roboto', serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff5e1;
}

.discription p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 22rem;
  font-family: 'Poppins', sans-serif;
}

.social-links {
  padding: 15px;
  display: flex;
  width: 10rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
