* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: inherit;
}

header {
  height: 50px;
  width: 100%;
  padding: 0 24px;
  background-color: #3c3a39;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}

.navbar {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links,
.emailImage {
  display: block;
}

.staus-bar {
  font-family: "  Roboto ", sans-serif;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.main-container {
  height: 100vh;
  width: 100%;
  background-color: #1c1a19;
  padding: 160px 24px 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-image: url("./image/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-size: 12rem;
  background-position: 100%;
  background-position-y: 14rem;
}

.professional1,
h1 {
  font-family: sans-serif;
  color: #fff;
  margin: 10px;
}

.professional2,
h1 {
  font-family: 'Crete Round', serif;
  color: #fff;
  margin: 10px;
}

.professional4,
h1 {
  font-family: 'Crete Round', serif;
  color: #fff;
  margin: 10px;
}

.professional5,
h1 {
  font-family: 'Crete Round', serif;
  color: #fff;
  margin: 20px;
}

.intro-text h1 {
  font-family: "Crete Round", serif;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  width: 20rem;
  color: #ff6b00;
  margin-left: 0;
  margin-top: 0;
}

.intro-text h2 {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff5e1;
  margin-top: 0;
  margin-left: 0;
}

.professional3,
p {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  margin: 10px;
}

.professional2,
p {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  margin: 10px;
}

.professional1,
p {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  margin: 10px;
}

.professional5,
p {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  margin: 10px;
}

.intro-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 22rem;
  font-family: "Poppins", sans-serif;
  margin-left: 0;
}

.intro-icons {
  padding: 15px;
  display: flex;
  width: 10rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.main {
  height: 100%;
  width: 100%;
  padding: 100px 24px 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.works {
  font-family: "Crete Round", serif;
  font-size: 20px;
  width: 100%;
  line-height: 64px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.works h3 {
  width: inherit;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.works hr {
  background-color: #212121;
  width: inherit;
}

.recent-work {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 100%;
}

.story {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.headerText {
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-weight: 400;
  color: #091e42;
  padding: 0;
  margin: 0;
  width: 16rem;
}

.ParagraphText {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #091e42;
  width: inherit;
  line-height: 1.5rem;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 18rem;
  list-style: none;
}

.linkIcons {
  padding: 10px;
  border: 1px solid #8993a4;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.but {
  width: auto;
  display: flex;
  justify-content: flex-start;
}

.see1 {
  padding: 10px;
  font-size: 17px;
  color: #fff;
  background-color: #ff6b00;
  border: none;
}

.cardSection {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px 24px;
  width: 100%;
  height: auto;
  gap: 1.5rem;
}

.profes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-image: url("./image/Img\ Placeholder22.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-top: 90px;
}

.professional {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-image: url("./image/Aaa.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
}

.professional1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-image: url("./image/bbb.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-top: 90px;
}

.professional2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-image: url("./image/ccc.png.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  padding-top: 90px;
  margin: 0;
}

.professional3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-image: url("./image/ccc.png.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-top: 90px;
}

.professional4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-image: url("./image/bbb.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-top: 90px;
}

.professional5 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-image: url("./image/ccc.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-top: 90px;
}

.button {
  display: flex;
  width: 20rem;
  justify-content: space-between;
  list-style: none;
  padding: 0 26px;
  background: rgba(255, 255, 255, 0.24);
}

.button1 {
  display: flex;
  width: 16rem;
  justify-content: space-between;
  list-style: none;
  padding: 0 26px;
  margin-bottom: -6rem;
}

.button1:hover {
  display: flex;
  width: 16rem;
  justify-content: space-between;
  list-style: none;
  padding: 0 26px;
  margin-bottom: 1rem;
  opacity: 0;
}

.button1 li {
  padding: 9px;
  background-color: rgba(255, 255, 255, 0.24);
  color: #fff;
  border: 0;
  width: 4rem;
  font-size: 11px;
}

.nema {
  text-align: center;
  margin-left: 0;
  width: 10rem;
}

.button li {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.24);
  border: none;
}

form button {
  background-color: #ff6b00;
  width: 131px;
  height: 48px;
  padding: 12px 12px 12px 12px;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 124px;
  border: none;
}

button:hover {
  color: #f55800;
  border: 1px solid #f55800;
  background-color: #fff5e1;
}

.see:hover {
  border: 0;
  background-color: #f55800;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
  width: 100%;
  padding-top: 90px;
  background-color: #1c1a19;
}

.textAbout {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 300px;
  background-image: url("./image/aboutBackground.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 15rem;
  background-position-y: 13rem;
}

.textAbout h1 {
  font-size: 72px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  letter-spacing: 0.37px;
  color: #ff6b00;
  padding: 0 24px;
  margin-left: 5rem;
}

.aboutSection p {
  font-family: "Inter", sans-serif;
  width: 46rem;
  font-size: 16px;
  line-height: 1.5rem;
  color: #fff;
  padding: 0 24px;
  margin-left: 10px;
}

.aboutSection button {
  padding: 10px;
  margin: 3rem 24px;
  width: 10rem;
  border: none;
  background-color: #ff6b00;
  color: #fff;
  font-size: 17px;
  font-family: "Inter", sans-serif;
}

.skillsection {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  padding: 50px 24px;
  background-color: #1c1a19;
  font-family: "Inter", sans-serif;
}

form ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work-button {
  text-decoration: none;
  color: #fff;
}

.skillsection ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  color: #fff;
  align-items: center;
  padding: 45px;
}

.skillsection ul li {
  font-size: 20px;
}

.skillIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  right: 70px;
  position: relative;
}

.skillIcons p {
  background-image: url("./image/diamond.png");
  background-repeat: no-repeat;
  padding-left: 2rem;
  left: 12px;
  height: auto;
  width: auto;
  font-size: 32px;
  line-height: 70%;
}

.skillIcons h4 {
  background-image: url("./image/Rectangle\ 56.png");
  background-repeat: no-repeat;
  align-items: left;
  padding-left: 2rem;
  justify-content: space-between;
  height: 50px;
  width: auto;
  top: 8px;
  border-radius: nullpx;
  font-size: 32px;
  line-height: 70%;
  margin-top: 3rem;
}

.skillIcons h5 {
  background-image: url("./image/circle.png");
  background-repeat: no-repeat;
  padding-left: 2rem;
  justify-content: space-between;
  font-size: 32px;
  line-height: 70%;
  height: 50px;
  width: auto;
  margin-top: 3rem;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

.About-header {
  font-family: 'inter', sans-serif;
  font-style: bold;
  font-size: 32px;
  line-height: 44px;
  align-items: 44px;
  align-items: center;
  vertical-align: top;
  margin-left: 2rem;
  padding-top: 5rem;
  color: #172b4d;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

form input {
  border: none;
  border-bottom: 1px solid gray;
  width: 295px;
  height: 18px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: px;
  margin-top: 39px;
  color: #979493;
  padding: 14px 14px 14px 14px;
}

form textarea {
  width: 327px;
  height: 114px;
  padding: 12px 12px 12px 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: none;
  background-color: #e5e5e5;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 rem;
  list-style: none;
  border-top: 1px solid gray;
  padding-bottom: 10px;
}

.hover:hover {
  background-color: bisque;
}

@media only screen and (min-width: 768px) {
  .john {
    display: none;
  }

  .links {
    display: flex;
    list-style: none;
    gap: 1rem;
    height: auto;
    width: auto;
  }

  .link {
    color: #fff;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 15px;
  }

  header {
    padding: 0 10rem;
    height: 50px;
  }

  .main-container {
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 3rem;
    background-image: url("./image/Illustration-header@2x.png");
    background-size: 35rem;
    background-position: 100%;
    background-position-y: -0.5rem;
  }

  h1 {
    font-family: 'Crete Round', serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0;
    left: 16px;
    top: 8px;
  }

  .profes h1 {
    color: #fff;
    font-family: 'Crete Round', serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 2rem;
    width: 18rem;
    padding: 0 16px;
  }

  .intro-text {
    width: inherit;
    gap: 1rem;
    flex-direction: column;
    margin-top: -1rem;
  }

  .intro-text h1 {
    font-family: "Crete Round", serif;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    width: 20rem;
    color: #ff6b00;
  }

  h2 {
    font-family: 'Inter', sans-serif;
    justify-content: center;
    margin-right: 2rem;
    gap: 1rem;
    padding-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #fff;
    margin-left: 6%;
  }

  .intro-text h2 {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-size: 24px;
    margin-top: 0;
  }

  .professional1,
  p {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
  }

  .professional4,
  p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin: 10px;
  }

  .professional2,
  p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    margin: 42px;
  }

  .intro-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    width: 22rem;
    font-family: "Poppins", sans-serif;
    margin-left: 0;
    margin-top: 15px;
  }

  .intro-icons {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 1rem;
    justify-content: center;
    align-items: center;
    height: 14rem;
  }

  .works {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0 7rem;
    gap: 1rem;
    justify-content: center;
  }

  .main {
    gap: 6rem;
  }

  .recent-work {
    padding: 0 7rem;
    flex-direction: row;
    gap: 1rem;
  }

  .cardSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 10%;
    width: 100%;
    height: auto;
    gap: 1rem;
  }

  .aboutSection p {
    font-family: 'Inter', sans-serif;
    width: 30.5rem;
    font-size: 16px;
    line-height: 1.5rem;
    color: #fff;
    padding: 0 7rem;
  }

  .aboutSection button {
    margin: 0 7rem;
  }

  .skillsection {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 9rem 8rem;
  }

  .skillsection ul {
    align-items: baseline;
    gap: 1.3rem;
  }

  .textAbout {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
    background-image: url("./image/illustration-about\ me@2x.png");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 30rem;
    background-position-y: 1rem;
    gap: 1rem;
  }

  .textAbout button {
    margin-left: 6rem;
    gap: 1rem;
  }

  form {
    gap: 6rem;
    flex-direction: row;
    align-items: flex-start;
    padding: 2rem 8rem;
  }

  form li {
    padding-top: 10px;
    list-style: none;
  }

  .professional5 {
    background-image: url("./image/ccc.png.png");
  }

  .project-cards:hover > .butEl .see {
    padding: 15px;
    font-size: 17px;
    background-color: #f55800;
    border: 0;
  }

  .project-cards {
    height: auto;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-size: cover;
  }

  .project-cards:hover {
    background-image: url("/image/Aaa.png");
  }

  .project-cards h1 {
    font-size: 28px;
    padding: 0 10px;
    margin: 0;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .project-cards h2,
  .project-cards h3,
  .project-cards h4,
  .project-cards h5,
  .project-cards h6 {
    padding: 0 10px;
    font-size: 15px;
    margin: 0;
    margin-top: 15px;
    font-weight: 200;
    margin-bottom: 2rem;
    color: #fff;
  }

  .butEl {
    position: relative;
    height: inherit;
    width: inherit;
    text-align: center;
    color: #e5e5e5;
    display: none;
  }

  .project-cards:hover > .butEl {
    background-color: #f55800;
    padding: 10px;
    display: block;
  }

  .button1 {
    margin: 0;
  }

  .buttons li {
    padding: 9px;
    background-color: rgba(255, 255, 255, 0.24);
    color: #fff;
    border: 0;
    width: 5rem;
    font-size: 15px;
    justify-content: center;
  }

  .button li {
    padding: 15px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.24);
    border: none;
    width: inherit;
  }

  button:hover {
    color: #f55800;
    border: 1px solid #f55800;
    background-color: #fff5e1;
  }

  .profes p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 1.5rem;
    padding: 0 16px;
  }

  .profes:hover {
    color: #f55800;
    border: 1px solid #f55800;
    background-color: #fff;
  }

  .card {
    width: 80rem;
    height: inherit;
  }

  .ParagraphText {
    height: 140px;
    width: 448px;
    left: 0;
    top: 72px;
    font-size: 20px;
    margin: 0;
  }

  .About-header {
    font-family: 'inter', sans-serif;
    font-style: bold;
    font-size: 32px;
    line-height: 44px;
    align-items: 44px;
    align-items: center;
    vertical-align: top;
    margin-left: 2rem;
    padding-top: 1rem;
    color: #172b4d;
    width: 22rem;
    margin-top: 1rem;
  }

  .card img {
    width: 35rem;
    margin-left: -3rem;
  }

  .story {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
  }

  .hide-content {
    height: auto;
    width: inherit;
  }

  .professional:hover {
    background-image: url("/image/Aaa.png");
  }

  .hide-content:hover {
    opacity: 0;
  }

  .works h3 {
    width: inherit;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
  }

  .works hr {
    background-color: #212121;
    width: inherit;
  }

  .textAbout h5 {
    color: #fff;
    font-size: 20px;
    line-height: 32px;
    width: 48%;
    margin-left: 6rem;
  }
}
